body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #99FF99
}
h1 {
  background-color: #000;
  color: #99FF99;
  padding: 10px
 }
hr {
  border-top: 5px solid #000;
}
p {
  margin: 10px;
  font-size: 18px;
}
